@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 0, 0;
    --background-end-rgb: 0, 20, 20;
  }
}

body {
  background-color: black;
}

.bg-container {
  background-color: black;
  position: relative;
  pointer-events: none;
}

.bg-overlay {
  pointer-events: none;
  background-image: linear-gradient(to bottom,
      transparent,
      rgba(0, 0, 0, 0.5));
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg {
  pointer-events: none;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.bg.active {
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  background-size: contain;
}

.img-0 {
  background: url('/bg-darkpurple.png');
}

.img-1 {
  background: url('/bg-darkgreen.png');
}

.img-2 {
  background: url('/bg-darkblue.png');
}

.img-3 {
  background: url('/bg-greypurple.jpg');
}

.img-4 {
  background: url('/bg-green.png');
}

input::selection {
  background-color: transparent;
}

.ranking {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.category {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

input:focus {
  outline: none;
}